
  .rdt_TableRow:hover {
    background-color:azure;
    border: 1px solid black;
   
  }
  .rdt {
   border: 2px solid black;
  }


.input-search{
   padding: 5px;
   margin-left: 400px;
   margin-top: 80px;
   border: 1px solid black;
}
.total{
    margin-left: 200px;
    
}

  
  